.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    max-width: 336px;
    padding: 24px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.tag {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.date {
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    color: hsl(0, 0%, 7%);
}

.title {
    font-size: 24px;
    line-height: 150%;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.subtitle {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.writer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.writer img {
    width: 32px;
}

.writer h1 {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    line-height: 150%;
    font-weight: 800;
}